@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.eot');
    src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../font/Roboto-Thin-webfont.eot');
    src: url('../font/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Thin-webfont.woff') format('woff'),
         url('../font/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../font/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../font/RobotoCondensed-Regular-webfont.eot');
    src: url('../font/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../font/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../font/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #002D5F;
  background-color: #002D5F; }

.reveal {
  font-family: "robotoregular", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #D1DDEA; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 30px 0;
  color: #eee8d5;
  font-family: "roboto_condensedregular", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px 2px black; 
}

.reveal h1 {
  font-size: 3.3em;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #93a1a1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * MYSELF
 *********************************************/
 .reveal section img.myself {
  border: 0;
  background: none;
  float: left;
 }

 .reveal .logo {
  position: fixed;
  bottom: 10px;
  right: 10px;
 }